editors/vim/swapfiles/*
editors/vim/undofiles/*
editors/vim/plugged
editors/vim/spell
editors/vim/view
editors/vim/init.vim

tools/mediaplayer/ncmpcpp/error.log

editors/vim/bundle/*
!editors/vim/bundle/Vundle.vim
